<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Email enviado!</title>
    {% include "header/header.html" %}
    <link rel="stylesheet" type="text/css" href="/Public/Views/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Public/Views/assets/css/registererros.css">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="Iback">
                    <a href="/">
                        <i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="/Public/Views/images/img-01.png" width="340px" height="250px" alt="IMG">
                </div>

                <div class="alert alert-success login100-form-title" role="alert">
                    <span style="color:green; text-align: center;">ENVIADO COM SUCESSO!</span>
                </div>



            </div>
        </div>
    </div>
    {% include 'footer/footer.html' %}
</body>

</html>