<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Recuperação de Senha</title>
    {% include "header/header.html" %}
    <link rel="stylesheet" type="text/css" href="/Public/Views/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Public/Views/assets/css/registererros.css">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="Iback">
                    <a href="/">
                        <i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="/Public/Views/images/img-01.png" width="340px" height="250px" alt="IMG">
                </div>

                <form class="login100-form validate-form" action="/forgot/reset" method="post">
                    <span class="login100-form-title">
                        RECUPERAÇÃO DE SENHA
                    </span>

                    <input type="hidden" name="code" value="{{code}}">

                    <div class="wrap-input100 validate-input" data-validate="Campo Obrigatório">
                        <input class="input100" type="password" id="senha" name="passwd" placeholder="SENHA" pattern=".{8,}" title="8 a 15 Caracteres." maxlength="15">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Campo Obrigatório">
                        <input class="input100" type="password" id="senha2" name="passwd2" placeholder="CONFIRMAR SENHA" pattern=".{8,}" title="8 a 15 Caracteres." maxlength="15">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    {{error}}

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Recuperar Senha
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'footer/footer.html' %}
</body>

</html>