<!--===============================================================================================-->
<script src="/Resources/jquery/jquery-3.5.1.min.js"></script>
<script src="/Resources/jquery/validate.js"></script>
<!--===============================================================================================-->
<script src="/Resources/bootstrap/js/popper.js"></script>
<script src="/Resources/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/Resources/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/Resources/tilt/tilt.jquery.min.js"></script>
<script src="/Resources/js/validarcpf.js"></script>
<script src="/Public/Views/assets/js/mask.js"></script>
<script src="/Public/Views/assets/js/main.js"></script>
<script src="/Public/Views/assets/js/onlyNumbers.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
</script>
<!--===============================================================================================-->