<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Registro de erros</title>
    {% include "header/header.html" %}
    <link rel="stylesheet" type="text/css" href="/Public/Views/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Public/Views/assets/css/registererros.css">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="Iback">
                    <a href="/site/list">
                        <i class="fa fa-arrow-circle-left fa-3x" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="/Public/Views/images/img-01.png" alt="IMG">
                </div>

                <form name="formcadastro" class="login100-form validate-form" action="/site/register-error" method="POST">
                    <span class="login100-form-title">
                        CADASTRO DE ERROS
                    </span>
                    <!---->
                    {% if client_error is not null and client_error is defined %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{client_error}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}

                    <div class="wrap-input100 validate-input" data-validate="Campo Obrigatório">
                        <input class="input100" type="text" name="client_name" value="{{data_client.Client_name}}" onkeyup="this.value=this.value.toUpperCase();" placeholder="CLIENTE" maxlength="50">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Campo Obrigatório">
                        <input class="input100" type="text" name="company_name" value="{{data_client.Company_name}}" onkeyup="this.value=this.value.toUpperCase();" placeholder="RAZÃO SOCIAL" maxlength="50">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="far fa-building"></i>
                        </span>
                    </div>

                    <div class="wrap-input100" data-validate="Campo Obrigatório">
                        <input class="input100" type="text" name="fantasy_name" value="{{data_client.Fantasy_name}}" onkeyup="this.value=this.value.toUpperCase();" placeholder="NOME FANTASIA" maxlength="50">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fas fa-file-signature"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Campo Obrigatório">
                        <input class="input100" type="text" name="cnpj" placeholder="CNPJ" value="{{data_client.Cnpj}}" onkeyup="somenteNumeros(this);" maxlength="14">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fas fa-address-card"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Campo Obrigatório">
                        <input class="input100" type="text" id="system_used" name="system_used" value="{{data_client.System_used}}" placeholder="SISTEMA UTILIZADO" onkeyup="this.value=this.value.toUpperCase();" maxlength="20">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Campo Obrigatório">
                        <input class="input100" type="text" name="type_error" value="{{data_client.Type_error}}" placeholder="ERRO OCORRIDO" maxlength="150">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        </span>
                    </div>

                    <!--<div class="wrap-input100 validate-input" data-validate="Campo Obrigatório">
                        <input class="input100" type="date" id="dataClass" name="data_ocorrencia" placeholder="DATA DE OCORRÊNCIA">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>-->

                    <div class="wrap-input100 validate-input" data-validate="Campo Obrigatório">
                        <textarea class="input100" id="solucaoClass" name="solution" rows="5" cols="30" placeholder="SOLUÇÃO ENCONTRADA">{{data_client.Solution}}</textarea>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div id="html_element"></div>
                    <p>{{error_captcha}}</p>

                    <div class="container-login100-form-btn">
                        <button type="submit" role="button" class="login100-form-btn">Registrar</button>

                        <button class="login200-form-btn" type="reset">Limpar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    {% include 'footer/footer.html' %}
</body>

</html>